<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #ff8c00;
    color:black;
    padding: 20px 0;
    text-align: center;
}

navbar {
    background-color: cadetblue;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {

    color:black;
    text-decoration: none;
}

main {
    padding: 20px;
}

#books {
    max-width: 1200px;
    margin: auto;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.book-card img {
    width: 100%;
    border-radius: 5px;
}

.book-card h3 {
    margin: 10px 0;
}

.book-card p {
    margin: 5px 0;
}

.book-card:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ff8c00;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
=======
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #ff8c00;
    color:black;
    padding: 20px 0;
    text-align: center;
}

navbar {
    background-color: cadetblue;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {

    color:black;
    text-decoration: none;
}

main {
    padding: 20px;
}

#books {
    max-width: 1200px;
    margin: auto;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.book-card img {
    width: 100%;
    border-radius: 5px;
}

.book-card h3 {
    margin: 10px 0;
}

.book-card p {
    margin: 5px 0;
}

.book-card:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ff8c00;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
>>>>>>> d2ce6c6e3703463efdaa17cd9b0617fbcd0bf38d
